<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/umyu.jpg" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="../static/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">

</head>

<body class="bg-light">
    
  <main>
    <div class="">
        <section id="services" class="services section-bg">
            <div class="container" data-aos="fade-up">
              {% for message in messages %}
                {% if message.tags == 'success' %}
                <div style="color: rgb(108, 238, 108);">{{message}}</div>
                {% elif message.tags == 'error' %}
                <div style="color: red;">{{message}}</div>
                {% endif %}
              {% endfor %}
              <div class="section-title">
                <h2>CAMPUS SECURITY SYSTEM</h2>
                <p class="mb-4 h5">Pick a section to work with!</p>
              </div>
      
              <div class="row">
               
      
                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                  <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4><a href="/user-report">Reports a case</a></h4>
                    <p>Click here to make a report/report your case or incident</p>
                  </div>
                </div>
      
                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                  <div class="icon-box">
                    <div class="icon"><i class="bx bx-layer"></i></div>
                    <h4><a href="/about">About This<br>Project</a></h4>
                    <p>Click to know more about the project</p>
                  </div>
                </div>
              </div>
              
            </div>
            <a href="/logout-user" class="mt-4 btn btn-warning col-4">Logout</a>
          </section>


    </div>
  </main>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="../static/assets/vendor/echarts/echarts.min.js"></script>
  <script src="../static/assets/vendor/quill/quill.min.js"></script>
  <script src="../static/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="../static/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>
  <script src="../static/assets/js/login.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>